<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to "Secret!", root_path, class: "navbar-item title is-2" %>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", posts_path, class: "navbar-item" %>
        <%= link_to "Source Code", "https://github.com/xiyini/members-only", class: "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
          <div class="navbar-dropdown">
            <%= link_to "The Odin Prject", "https://theodinproject.com", class: "navbar-item" %>
            <%= link_to "Twitter", "https://twitter.com/wiyih", class: "navbar-item" %>
            <hr class="navbar-divider">
            <%= link_to "Report an issue", "https://github.com/xiyini", class: "navbar-item" %>
            <a class="navbar-item">
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if member_signed_in? %>
              <%= link_to current_member.username, edit_member_registration_path, class: "button is-primary" %>
              <%= button_to "Log out", destroy_member_session_path, method: :delete, class: "button is-primary" %>
            <% else %>
              <%= link_to "Sign up", new_member_registration_path, class: "button is-primary" %>
              <%= link_to "Log in", new_member_session_path, class: "button is-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
